/* ONLINE RESERVATION/ BOOKING FORM */
.body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.reservation-section {
  background-image: url("/HomeImages/restaurant.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  color: white;
  max-width: 500px;
  width: 100%;
}

.reservation-form label {
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
  font-weight: bold;
}

.reservation-form input,
.reservation-form select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reservation-form button {
  margin-top: 20px;
  padding: 12px;
   background-color: gold;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.reservation-form button:hover {
  background-color: rgb(185, 162, 27);
  color: black;
}

.reservation-form input[type="time"] {
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

input[type="time"] {
  pointer-events: auto;
  z-index: 1;
}